<%- include('../partials/header.ejs') %>

<main class="container">
    <h1 class="my-4">Little Birdie - Dashboard</h1>
    <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
        <h2 class="my-2">Your Posts</h2>
        <a href="/post/create" class="btn btn-primary">Create Post +</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Submissions</th>
                
            </tr>
        </thead>
        <tbody>
            <% for (const post of user.pots) { %>
                <tr>
                    <td>
                        <a href="/post/<%= post.slug %>"><strong><%= post.title %></strong></a>
                        <br>
                        <small><%= post.description %></small>
                    </td>
                    <td>
                        <%= post.submissions.length %>
                    </td>
                    
                </tr>
            <% } %>
        </tbody>
    </table>
</main>
<%- include('../partials/footer.ejs') %>